$mobile: 200px;
$tablet: 834px;
$desktop: 1440px;

.mainContainer {
  float: right;
  z-index: 3;
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    width: 74.3vw;
    position: absolute;
    top: 73px;
    left: 13%;
  }
  @media screen and (min-width: $mobile) and (max-width: $tablet - 1) {
    width: 80vw;
    position: absolute;
    top: 74px;
    left: 10%;
  }
  width: 640px;
  background-color: white;
  height: max-content;
  margin-top: 18px;
  .mainDescription {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin: 30px auto 0 auto;
    font-size: 14px;
    @media screen and (min-width: $mobile) and (max-width: $tablet - 1) {
      font-size: 12px;
    }
  }
  .header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    font-weight: 700;
    .title {
      height: 44px;
      width: 360px;
      display: flex;
      flex-direction: column;
      align-self: center;
      @media screen and (min-width: $mobile) and (max-width: $tablet - 1) {
        margin: 0 0 15px 30px;
      }
    }
    .img {
      width: 130px;
      height: 84px;
      border-radius: 20px;
      margin: 23px 51px 27px 30px;
      @media screen and (min-width: $mobile) and (max-width: $tablet - 1) {
        width: 68px;
        height: 44px;
        margin: 23px 0 15px 30px;
      }
    }
    .close {
      @media screen and (min-width: $desktop) {
        display: none;
      }
      @media screen and (min-width: $mobile) and (max-width: $desktop - 1) {
        position: absolute;
        top: 30px;
        right: 30px;
      }
      @media screen and (min-width: $mobile) and (max-width: $tablet - 1) {
        position: absolute;
        top: 30px;
        right: 20px;
      }
    }
    .jobName {
      font-size: 20px;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      @media screen and (min-width: $mobile) and (max-width: $tablet - 1) {
        font-size: 15px;
      }
    }
    .companyName {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      pre {
        font-family: 'Montserrat', sans-serif;
        color: #9AAAB5;
        font-size: 10px;
      }
    }
  }
  .salary {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 37px 30px;
    padding: 0;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    @media screen and (min-width: $mobile) and (max-width: $tablet - 1) {
      font-size: 15px;
      margin: 0 0 21px 30px;
    }
  }
}